.about-container {
  margin: 0 5vh;
}

.text-container {
  margin: auto;
  background-color: rgb(240, 223, 210);
  padding: 2vh;
  margin-bottom: 5vh;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h2 {
  font-size: 20px;
  margin-bottom: 2vh;
}

a {
  color: rgb(67, 16, 43);
}
